
{
	display:block;
	left: auto;
	right: auto;
	/*height: 100%;
	width: 100%;*/
	margin-left: auto;
	margin-right: auto; 
	
	image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
}

body
{
	background-color: rgb(51,51,51);
}